<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert New Vacation</title>
</head>
<body>
<form th:object="${newVacation}" th:action="@{/update/{id}(id=${newVacation.id})}" method=POST>
City: <input name="city" size="20" th:field="*{city}"><br />
Number of Days: <input name="numDays" size="20" th:field="*{numDays}"><br />
Number of People: <input name="numPeople" size="20" th:field="*{numPeople}"><br />
Airline Company: <input name="planeInfo.airlineName" size="20" th:field="*{planeInfo.airlineName}"><br />
Flight Number: <input name="planeInfo.flightNum" size="20" th:field="*{planeInfo.flightNum}"><br />
Number of Bags: <input name="planeInfo.numOfBags" size="20" th:field="*{planeInfo.numOfBags}"><br />
<input name="submit" type="submit" value="submit" />
</form>
<a href="viewAll">View all Vacations</a>
</body>
</html>